In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("pdbbind_refined_dataset.csv")

In [3]:
dataset

,pdb_id,smiles,sequence,affinity
0,2r58,C[NH+](C)CCCC[C@H]([NH3+])C(=O)O,AFDWDAYLEETGSEAAPAKCFKQAQNPPNNDFKIGMKLEALDPRNV...,2.00
1,3c2f,O=P(O)(O)OC[C@H]1O[C@H](O[P@](=O)(O)OP(=O)(O)O...,PVYEHLLPVNGAWRQDVTNWLSEDVPSFDFGGYVVGSDLKEANLYC...,2.00
2,3g2y,CCc1c(C)[nH]n(-c2nnn[nH]2)c1=O,TSAVQQKLAALEKSSGGRLGVALIDTADNTQVLYRGDERFPMCSTS...,2.00
3,3pce,O=C(O)Cc1cccc(O)c1,PAQDNSRFVIRDRNWHPKALTPDYKTSIARSPRQALVSIPQSISET...,2.00
4,4qsu,C[C@H]1C=NC(=O)NC1=O,SMQEEDTFRELRIFLRNVTHRLAIDKRFRVFTKPVDPDEVPDYVTV...,2.00
...,...,...,...,...
5311,4f3c,CCCCSC[C@H]1C[N@@H+](Cc2c[nH]c3c(N)ncnc23)C[C@...,MKIGIIGAMEEEVTLLRDKIDNRQTITLGGCEIYTGQLNGTEVALL...,11.82
5312,5bry,C[NH2+][C@H]1CO[C@@H]2OC[C@H](OC(=O)N[C@@H](Cc...,PQITLWKRPLVTIKIGGQLKEALLDTGADDTVIEEMSLPGRWKPKM...,11.82
5313,1sl3,O=C(Cn1c(Cl)cnc(NCC(F)(F)c2cccc[n+]2[O-])c1=O)...,DCGLRPLFEKKSLEDKTERELLESYIIVEGSDAEIGMSPWQVMLFR...,11.85
5314,1ctu,O=C1N[C@H](O)C=CN1[C@@H]1O[C@H](CO)[C@@H](O)[C...,MHPRFQTAFAQLADNLQSALEPILADKYFPALLTGEQVSSLKSATG...,11.92
5315,6e9a,COc1ccc(S(=O)(=O)N(CC(C)C)C[C@@H](O)[C@H](Cc2c...,PQITLWKRPLVTIKIGGQLKEALLDTGADDTVIEEMSLPGRWKPKM...,11.92

In [4]:
dataset.describe()

          affinity
count  5316.000000
mean      6.392466
std       1.952730
min       2.000000
25%       4.930000
50%       6.420000
75%       7.740000
max      11.920000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5316 entries, 0 to 5315
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pdb_id    5316 non-null   object
 1   smiles    5314 non-null   object
 2   sequence  5316 non-null   object
 3   affinity  5316 non-null   float64
dtypes: float64(1), object(3)
memory usage: 166.3+ KB