In [1]:
import pandas as pd

In [2]:
train_dataset = pd.read_csv("data_train.csv")

In [3]:
train_dataset.describe()

              label
count  37720.000000
mean       0.035260
std        0.184438
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [4]:
train_dataset['label'].value_counts()

label
0    36390
1     1330
Name: count, dtype: int64